.text {
  background-image: linear-gradient(red, blue, black);
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  position: absolute;
  transform: translate(-50%, -50%);
  text-decoration: none;
  font-size: 120px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: white;
  top: 50%;
  left: 50%;
}

@media only screen and (max-width: 320px) {
  .text h2 {
    font-size: 80px;
    align-items: center;
    text-align: center;
    margin-top: 200px;
  }
}
